@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(33, 37, 41);
  color: white;
  font-family:  "Poppins", sans-serif;
}

.container{
  margin-top: 50px;
}

h2 {
  margin-bottom: 40px;
}

label, .form-check {
  font-size: 20px;
}

p{
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

h3{
  margin-top: 8px;
  text-align: left;
  margin-left: 16%;
  font-size: 22px;
  text-transform: uppercase;
}

span {
  font-size: 20px;
  margin: 5px;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #39353b;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

button {
  background-color: #6bf394;
  border: 0;
  border-radius: .25rem;
  font-size: .9rem;
  padding: .5rem 1rem;
  margin: 2px 5px;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.transaction > span {
  flex: 1;
  text-transform: uppercase;
}

.transaction-amount {
  margin-right: 4rem;
  text-align: end;
}

.transaction-amount.credit, .labelEntrada {
  color: #6bf394;
}

.transaction-amount.debit, .labelSaida {
  color: #f64348;
}

.edit-btn {
  background-color: #7bb4ff;
}

.delete-btn {
  background-color: #f64348;
}

form {
  display: flex;
  flex-direction: column;
}

.form-control, .btn{
  margin: 10px auto;
  width: 70%;
}

.checkbox{
  display: inline-block;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  max-height: 50px;
  background-color: gray;
  border-radius: 50px;
}

@media (max-width: 1200px){
  .row {
    flex-direction: column;
  }

  #titleTransaction{
    margin-top: 100px;
  }
}