@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #151b23;
  color: #E0E6ED;
  font-family:  "Poppins", sans-serif;
}

.container{
  margin-top: 150px;
}

h2 {
  margin-bottom: 40px;
}

label, .form-check {
  font-size: 20px;
}

p{
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

h3{
  margin-top: 8px;
  text-align: left;
  margin-left: 16%;
  font-size: 22px;
  text-transform: uppercase;
}

span {
  font-size: 20px;
  margin: 5px;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #39353b;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

button {
  background-color: #6bf394;
  border: 0;
  border-radius: 20px;
  font-size: .9rem;
  padding: .5rem 1rem;
  margin: 2px 5px;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

button.btn {
  color: #fff;
  transition: all 0.3s ease-in-out;
  width: 50%;
  padding: 10px;
}

.col{
  margin: 0px 25px;
}

.transaction > span {
  flex: 1;
  text-transform: uppercase;
}

.transaction-amount {
  margin-right: 4rem;
  text-align: end;
}

.transaction-amount.credit, .labelEntrada {
  color: #6bf394;
}

.transaction-amount.debit, .labelSaida {
  color: #f64348;
}

.edit-btn {
  background-color: #7bb4ff;
}

.delete-btn {
  background-color: #f64348;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #151a23;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #1e2a38;
}


.input-underline {
  background: transparent;
  border: none;
  border-bottom: 2px solid #6ca0f6;
  outline: none;
  padding: 0.5rem;
  font-size: 20px;
  margin: 20px 0px;
  color: #fff;
  width: 80%;
}

.input-underline::placeholder {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

.input-underline:focus {
  border-bottom: 2px solid #3B9CFF;
  box-shadow: 0 1px 0 0 #4a90e2;
}

.form-control, .btn{
  margin: 10px auto;
  width: 70%;
}

.checkbox {
  display: inline-block;
  margin: 15px 0px;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  max-height: 50px;
  background-color: gray;
  border-radius: 50px;
}

@media (max-width: 1200px){
  .row {
    flex-direction: column;
  }

  #titleTransaction{
    margin-top: 100px;
  }

  .col {
    margin: 0px;
  }
}